<html>
<head>
  <style type="text/css">
  .done { text-decoration: line-through; }
  </style>
</head>
  <body>
    <h1>
      TO-DO list
    </h1>
    <h2>Add new task</h2>
    <form action="/task/add" method="post">
      <p><label>Task: <input name="name"/></label></p>
      <input type="submit" value="Add task"/>
    </form>
    <h2>Tasks</h2>
      <ul>
      <% if @tasks.any? %>
        <% @tasks.each do |task| %>
        <p><li>
          <p<% if task.done %> 
             class="done" 
            <% end %> >
            <%= task.name %></p>
        </li></p>
          <% if task.done %>
          <form action="/task/<%= task.id %>/delete" method="post">
            <input type="submit" value="Delete">
          </form> 
          <% else %>
            <p><%= task.date.strftime("%A %d %B %Y") %></p>
            <form action="/task/<%= task.id %>/check" method="post">
              <input type="submit" value="Check">
            </form>  
          <% end %>
        <% end %>
      </ul>
      <% else %>
        <p>No tasks yet!</p>
      <% end %>
  </body>
</html>