<html>
  <body>
    <h1>
      TO-DO list
    </h1>
    <h2>Add new task</h2>
    <form action="/new_task" method="post">
      <p><label>Task: <input name="task"/></label></p>
      <input type="submit" value="Add task"/>
    </form>
  </body>
</html>