<html>
<head>
</head>
  <body>
    <h1>
      SHOUTER
    </h1>
    <% if @current_user %>
    <h2>Hi, <%= @current_user %>!</h2>
    <form action="/logout" method="post">
      <input type="submit" value="Log out"/>
    </form>
    
    <% else %>
      <h2>Log in</h2>
      <form action="/login" method="post">
        <p><label>Handle</label></p>
        <input name="handle"/>
        <p><label>Password</label></p>
        <input name="password" />
        <p><input type="submit" value="Log in"/></p>
      </form>
      <p>Not a shouter? <a href="/signup">Sign up!</a></p>
    <% end %>
    <h2>Best shouts</h2>
      <a href="/">Back to main page</a>
      <% if @best_shouts.any? %>
      <ul>
        <% @best_shouts.each do |shout| %>
        <p><li>
            <% user_id = shout.user_id %>
              "<%= shout.message %>" 
              <strong>@<%= @users.find(user_id).handle %></strong>
               <%= shout.likes %> likes
        </li></p>
        <% end %>
      </ul>
      <% else %>
        <p>No shouts yet!</p>
      <% end %>
  </body>
</html>