<html>
<head>
</head>
  <body>
    <h1>
      SHOUTER
    </h1>
    <h2>SHOUT!</h2>
      <form action="/shout/new" method="post">
      <p><label>Handle </p></label><input name="handle"/>
      <p><label>Message (Max 200 characters)</label></p><textarea name="message" rows="10" cols="50"></textarea>
      <p><input type="submit" value="Shout!"/></p>
    </form>
    <h2>People are shouting</h2>
      <ul>
      <% if @shouts.any? %>
        <% @shouts.each do |shout| %>
        <p><li>
          <p>
            <%= shout.user_id.handle %></p>
            <%= shout.message %></p>
        </li></p>
        <% end %>
      </ul>
      <% else %>
        <p>No shouts yet!</p>
      <% end %>
  </body>
</html>