<html>
<head>
</head>
  <body>
    <h1>
      SHOUTER
    </h1>      
      <h2>Sign up</h2>
      <form action="/signup" method="post">
        <p><label>Name</label></p>
        <input name="name"/>
        <p><label>Handle</label></p>
        <input name="handle"/>
        <p><label>Password</label></p>
        <input name="password" />
        <p><input type="submit" value="Sign up"/></p>
      </form>
      <p><a href="/">Maybe later</a></p>
  </body>
</html>